@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');



@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #00CAFF;
  --color-secondary: #64B5F6;
  --color-primary-content: #7593af;
  --color-secondary-content: #476f95;

  --color-base-200: #d1dbe4;
  --color-base-300: #a3b7ca;


  --color-accent: #4583bb;
  --color-accent-content: #003082;
}



a {
   font-family: "Merriweather", serif;
}